html                    { overflow-y:scroll; }

body {
   color: white;
   background-color: black;
   padding-top:50px;
}

.gif_img {
   margin: 25px;
}

.controls {
   margin-left: 10px;
   margin-right: 10px;
}

.row {
   padding-left: 120px;
   padding-top: 40px;;
   margin-top: 40px;
}
